@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 225 33% 95%;
    --foreground: 233 47% 15%;
    --card: 225 33% 100%;
    --card-foreground: 233 47% 15%;
    --popover: 225 33% 100%;
    --popover-foreground: 233 47% 15%;
    --primary: 233 47% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 225 33% 90%;
    --secondary-foreground: 233 47% 25%;
    --muted: 225 33% 90%;
    --muted-foreground: 233 47% 40%;
    --accent: 261 44% 63%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 225 33% 88%;
    --input: 225 33% 88%;
    --ring: 233 47% 48%;
    --chart-1: 233 47% 48%;
    --chart-2: 261 44% 63%;
    --chart-3: 225 33% 70%;
    --chart-4: 233 47% 68%;
    --chart-5: 261 44% 83%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 233 30% 12%;
    --foreground: 225 33% 95%;
    --card: 233 30% 16%;
    --card-foreground: 225 33% 95%;
    --popover: 233 30% 12%;
    --popover-foreground: 225 33% 95%;
    --primary: 225 33% 90%;
    --primary-foreground: 233 47% 15%;
    --secondary: 233 30% 20%;
    --secondary-foreground: 225 33% 90%;
    --muted: 233 30% 20%;
    --muted-foreground: 225 33% 70%;
    --accent: 261 44% 73%;
    --accent-foreground: 233 47% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 233 30% 25%;
    --input: 233 30% 25%;
    --ring: 261 44% 73%;
    --chart-1: 225 33% 90%;
    --chart-2: 261 44% 73%;
    --chart-3: 225 33% 50%;
    --chart-4: 233 47% 38%;
    --chart-5: 261 44% 53%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
